<div>
    <h1> Welcome to Sparkly Web</h1>
    <p> This is a demo site to show how to do JSLL telemetry for a SPA page</p>
    <hr>
    <p>
        This site was built to show case JSLL, and  Mezzurite in an Angualr application.

        With JSLL we are targeting two concepts,  the use of a cV to track impressions,
        and a way to track the first call from a browers to a CDN/Front Door.
    </p>
    <hr>
    <p>
        The chart on the left is showing the flow of JSLL events fire by this site.
        The chart on the right is showing WC3 Navigation Timings overlayed with Mezzurite
    </p>
    <hr>
</div>