@des.epic.uscp.scripts:registry=https://microsoft.pkgs.visualstudio.com/_packaging/DES.EPIC.USCP.Scripts/npm/registry/
@des.epic.uscp.scripts:always-auth=true
@universal.store.npm:registry=https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store.NPM/npm/registry/
@universal.store.npm:always-auth=true
registry=https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store.NPM/npm/registry/