{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [ "standard" ],
  "parser": "babel-eslint",
  "plugins": [ "jest" ],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "semi": [ "error", "always" ]
  }
}
