*/deep/.cVBase.Even{
    fill:rgb(167, 8, 163);
}

*/deep/.cVBase.Odd{
    fill:rgb(84, 75, 253);
}

*/deep/.sub.Odd.L2E {
    fill:rgb(231, 163, 185);
    stroke:black;
}

*/deep/.sub.Odd.L2O{
    fill: rgb(146, 4, 39);
    stroke:black;
}

*/deep/.sub.Even.L2E {
    fill:rgb(125, 90, 189);
    stroke:black;
}

*/deep/.sub.Even.L2O{
    fill: rgb(102, 187, 236);
    stroke:black;
}

*/deep/ .cvText{
    fill:rgb(255, 255, 255);
}
*/deep/ .igText{
    fill:rgb(244, 239, 170);
    }

*/deep/.grid{
    border-style: ridge;
    border-width: 1px,1px,1px,1px;
}
*/deep/line {
    stroke : lightgray;
}
    
*/deep/text.txt{
    fill:black;
}
    
*/deep/rect.bars{
    fill:lightskyblue;
    opacity: .4;
    stroke:black;
}
*/deep/.timing{
    text-align:center;
}

#statusMain{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

#cV_ig{
    width: 750px;
    height: 500px;
    overflow:auto;
    border-style:ridge;
    border-width: 1px,1px,1px,1px;
}

#Perf{
    width: 750px;
    height: 500px;
    overflow: auto;
    line-height: .5em;
    border-style: ridge;
    border-width: 1px,1px,1px,1px;
}

#charts{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 700px;
}

#NavTimings{
 width: 650px;
 height: 300px;
}

#VLTTimings{
    width: 650px;
    height: 300px;
    overflow: auto;
}



#waiting{
    align-content: center;
    font-size: 1.5m;
    font-weight: bold;
}


