<div id="statusMain">
    <div class="title">
        <p>cV Replacement of Impression Guid </p>
    </div>
    <div id="cV_ig">
    </div>
    
    <div class="title">
        <p>Spa Performance Timings via Mezzurite.</p>
    </div>
    <div id="Perf">
        <div>
            <p id = "waiting"> Waiting for Content Update for Timing Data</p>
            <p id = "ALT"></p>
            <p id = "VLT1ST"></p>
            <p id = "TTFVLT"></p>
            
        </div>
        <div id="charts">
            <div>
                <h3 class = "timing" style="display:none" >Waterfall for W3 Nagivation and our SPA Timings</h3>
                <div id="NavTimings"></div>
            </div>
            <div>
                <h3 class="timing" style="display:none" >Waterfall for Vlt timings</h3>
                <p id = "VLTCURRENT"></p>
                <p id = "VLTAVG"></p>
                <div id="VLTTimings"></div>
            </div>
        </div>
    </div>
</div>