@des.epic.uscp.scripts:registry=https://microsoft.pkgs.visualstudio.com/_packaging/DES.EPIC.USCP.Scripts/npm/registry/
@des.epic.uscp.scripts:always-auth=true
@dna:registry=https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store.NPM/npm/registry/
@dna:always-auth=true