/* You can add global styles to this file, and also import other style files */
/* div { border: 3px solid black; }
p { border: 1px solid blue; }
ul { border: 1px solid red; } */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.left-pad {
    padding-left: 5px;
}

.right-pad {
    padding-right: 5px;
}

.mat-toolbar.mat-primary {
    background-color: #2FAAFF;
    height: 36px;
}

#reactdiv {
    display: none
}