<mat-nav-list class="scenario-list">
    <h2 class="scenario-item">Scenarios</h2>
    <mat-list-item class="scenario-item">Scenario 1: Regular SPA</mat-list-item>
    <mat-list-item class="scenario-item" routerLink="../iframe">Scenario 2: Iframe (modeling separate instance of JSLL)</mat-list-item>
    <mat-list-item class="scenario-item">
        <a href="http://sparklywebr2d2.uscpservices-prod-sn2.sn2.ap.gbl/static" target="_blank">Scenario 3: Static page navigation</a>
    </mat-list-item>
</mat-nav-list>